github "SwiftyJSON/SwiftyJSON" "master"
github "Alamofire/Alamofire" "master"
github "Alamofire/AlamofireImage" "master"
github "realm/realm-cocoa" "master"
github "Thomvis/BrightFutures" "swift3.0"
github "bryx-inc/BRYXBanner"
