github "SwiftyJSON/SwiftyJSON" "master"
github "Alamofire/Alamofire" "master"
github "Alamofire/AlamofireImage" "master"
github "realm/realm-cocoa" "master"
github "Thomvis/BrightFutures" "swift3.0"
github "auth0/JWTDecode.swift"
github "morizotter/SwiftyDrop" ~> 3.0
github "facebook/Facebook-SDK-Swift"
github "ninjaprox/NVActivityIndicatorView"
github "BranchMetrics/iOS-Deferred-Deep-Linking-SDK"
