github "SwiftyJSON/SwiftyJSON"
github "Alamofire/Alamofire"
github "Alamofire/AlamofireImage"
github "realm/realm-cocoa"
github "Thomvis/BrightFutures"
github "auth0/JWTDecode.swift"
github "morizotter/SwiftyDrop"
github "mylifeasdog/facebook-sdk-swift" "master"
github "ninjaprox/NVActivityIndicatorView"
github "BranchMetrics/iOS-Deferred-Deep-Linking-SDK"
